In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("Data01.csv")

In [3]:
print(df1.shape)

(15000, 7)

* shape을 통해 데이터의 row 개수(행)와 column 개수(열)를 확인합니다.

In [5]:
df1.head()

           날짜    상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
0  2019-05-16   V2_0  8.801047e+12   발주가능   384  세탁세제    72
1  2019-05-16   V2_3  8.801047e+12   발주가능   207  세탁세제     5
2  2019-05-16   V2_7  8.801047e+12   발주가능   520  헤어케어    19
3  2019-05-16  V2_11  8.801047e+12   발주가능     0  세탁세제     5
4  2019-05-16  V2_14  8.801046e+12   발주가능    96  세탁세제     1

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      15000 non-null  object
 1   상품명     15000 non-null  object
 2   바코드     14992 non-null  float64
 3   발주가능상태  15000 non-null  object
 4   입고수량    15000 non-null  int64
 5   카테고리    15000 non-null  object
 6   출고수량    15000 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 820.4+ KB

* info()함수를 통해서 데이터의 구조, 타입, 개수, 결측치, 등을 파악할 수 있다.

In [7]:
df1.describe()

                바코드          입고수량          출고수량
count  1.499200e+04  15000.000000  15000.000000
mean   1.294839e+13     58.144533      7.205200
std    5.243929e+12    348.398250     19.819656
min    6.414100e+12      0.000000      0.000000
25%    8.801046e+12      0.000000      0.000000
50%    8.801047e+12      0.000000      1.000000
75%    1.880105e+13      0.000000      4.000000
max    2.880105e+13   9777.000000    308.000000

* 숫자데이터를 파악하고 싶을 때는 describe()를 사용하면 된다.

In [9]:
df1['카테고리'].unique()

array(['세탁세제', '헤어케어', '주방세제', 'ST', 'F&B', '덴탈케어', '기타', '매입브랜드'],
      dtype=object)

* 범주형 데이터 항목을 보여주게 된다.

In [10]:
df1['카테고리'].value_counts()

세탁세제     4265
덴탈케어     3115
헤어케어     2750
ST       1732
주방세제     1709
F&B      1038
매입브랜드     238
기타        153
Name: 카테고리, dtype: int64

* 범주형 데이터 항목의 개수를 보여준다.

In [11]:
df1['카테고리'].describe()

count     15000
unique        8
top        세탁세제
freq       4265
Name: 카테고리, dtype: object

In [14]:
# 모든 범주형 데이터들의 describe를 알고 싶을 때

# 전체 column 목록 - 숫자형 column 목록을 빼면 된다. 

total_list = df1.columns.tolist()
numeric_list = df1.describe().columns.tolist()

object_list = list(set(total_list) - set(numeric_list))

In [15]:
df1[object_list].describe()

         카테고리 발주가능상태     상품명          날짜
count   15000  15000   15000       15000
unique      8      3     528          84
top      세탁세제   발주가능  V2_114  2019-05-26
freq     4265  14700      47         226

In [16]:
# 정렬

df1.sort_values(by = '입고수량') #오름차순

               날짜     상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
7499   2019-06-23  V2_284  1.880105e+13   발주가능     0   F&B     0
8528   2019-06-28  V2_289  1.880105e+13   발주가능     0  덴탈케어     0
8529   2019-06-28  V2_290  1.880105e+13   발주가능     0  덴탈케어     0
8530   2019-06-28  V2_291  1.880105e+13   발주가능     0  주방세제     0
8531   2019-06-28  V2_292  1.880105e+13   발주가능     0  주방세제     0
...           ...     ...           ...    ...   ...   ...   ...
14062  2019-07-31  V2_129  8.801050e+12   발주가능  7287  덴탈케어    49
14051  2019-07-31   V2_86  1.880100e+13   발주가능  9480  세탁세제   141
13054  2019-07-23   V2_86  1.880105e+13   발주가능  9488  세탁세제   208
9719   2019-07-04   V2_86  1.880105e+13   발주가능  9539  세탁세제   205
3647   2019-06-03   V2_86  1.880105e+13   발주가능  9777  세탁세제   308

[15000 rows x 7 columns]

In [18]:
df1.sort_values(by = '입고수량', ascending = False) #내림차순

               날짜     상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
3647   2019-06-03   V2_86  1.880105e+13   발주가능  9777  세탁세제   308
9719   2019-07-04   V2_86  1.880105e+13   발주가능  9539  세탁세제   205
13054  2019-07-23   V2_86  1.880105e+13   발주가능  9488  세탁세제   208
14051  2019-07-31   V2_86  1.880100e+13   발주가능  9480  세탁세제   141
14062  2019-07-31  V2_129  8.801050e+12   발주가능  7287  덴탈케어    49
...           ...     ...           ...    ...   ...   ...   ...
6414   2019-06-18  V2_218  8.801046e+12   발주가능     0  헤어케어     1
6415   2019-06-18  V2_222  8.801046e+12     단종     0  세탁세제     0
6416   2019-06-18  V2_227  8.801046e+12   발주가능     0  헤어케어     0
6417   2019-06-18  V2_230  8.801046e+12   발주가능     0  주방세제     1
7500   2019-06-23  V2_287  1.880105e+13   발주가능     0  덴탈케어     0

[15000 rows x 7 columns]

In [19]:
# 여러 개의 항목을 정렬할 때

df1.sort_values(by = ['입고수량','출고수량'])

               날짜     상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
8      2019-05-16   V2_20  8.801046e+12   발주가능     0  주방세제     0
9      2019-05-16   V2_22  8.801047e+12   발주가능     0  세탁세제     0
13     2019-05-16   V2_28  8.801047e+12   발주가능     0  주방세제     0
14     2019-05-16   V2_29  8.801047e+12   발주가능     0  주방세제     0
16     2019-05-16   V2_38  8.801047e+12   발주가능     0  헤어케어     0
...           ...     ...           ...    ...   ...   ...   ...
14062  2019-07-31  V2_129  8.801050e+12   발주가능  7287  덴탈케어    49
14051  2019-07-31   V2_86  1.880100e+13   발주가능  9480  세탁세제   141
13054  2019-07-23   V2_86  1.880105e+13   발주가능  9488  세탁세제   208
9719   2019-07-04   V2_86  1.880105e+13   발주가능  9539  세탁세제   205
3647   2019-06-03   V2_86  1.880105e+13   발주가능  9777  세탁세제   308

[15000 rows x 7 columns]

* 입고수량이 오름차순으로 정렬, 같은 입고수량일 때 출고수량도 오름차순으로 정렬

In [21]:
df1.sort_values(by = ['입고수량','출고수량'],ascending = [True,False])

               날짜     상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
9091   2019-07-01   V2_86  1.880105e+13   발주가능     0  세탁세제   305
5005   2019-06-10   V2_86  1.880105e+13   발주가능     0  세탁세제   266
3831   2019-06-04   V2_86  1.880105e+13   발주가능     0  세탁세제   258
5200   2019-06-11   V2_86  1.880105e+13   발주가능     0  세탁세제   256
3218   2019-06-01   V2_86  1.880105e+13   발주가능     0  세탁세제   250
...           ...     ...           ...    ...   ...   ...   ...
14062  2019-07-31  V2_129  8.801050e+12   발주가능  7287  덴탈케어    49
14051  2019-07-31   V2_86  1.880100e+13   발주가능  9480  세탁세제   141
13054  2019-07-23   V2_86  1.880105e+13   발주가능  9488  세탁세제   208
9719   2019-07-04   V2_86  1.880105e+13   발주가능  9539  세탁세제   205
3647   2019-06-03   V2_86  1.880105e+13   발주가능  9777  세탁세제   308

[15000 rows x 7 columns]

* 입고수량이 오름차순으로 정렬, 같은 입고수량일 때 출고수량은 내림차순으로 정렬