In [1]:
import pandas as pd

In [4]:
df1['날짜']

0        2019-05-16
1        2019-05-16
2        2019-05-16
3        2019-05-16
4        2019-05-16
            ...
14995    2019-08-07
14996    2019-08-07
14997    2019-08-07
14998    2019-08-07
14999    2019-08-07
Name: 날짜, Length: 15000, dtype: object

* 날짜라는 column들의 항목들의 데이터형은 문자형이다. 
하지만 위에 보는 것과 같은 형식일 경우 to_datetime이라는 함수를 이용하여 
여러가지 편리한 기능을 사용할 수 있다.

In [6]:
pd.to_datetime(df1['날짜'])

0       2019-05-16
1       2019-05-16
2       2019-05-16
3       2019-05-16
4       2019-05-16
           ...
14995   2019-08-07
14996   2019-08-07
14997   2019-08-07
14998   2019-08-07
14999   2019-08-07
Name: 날짜, Length: 15000, dtype: datetime64[ns]

* 날짜의 데이터 타입이 datetime64로 바뀐 것을 볼 수 있다.

In [7]:
df1['날짜_datetime'] = pd.to_datetime(df1["날짜"])

In [8]:
df1.head(2)

           날짜   상품명           바코드 발주가능상태  입고수량  카테고리  출고수량 날짜_datetime
0  2019-05-16  V2_0  8.801047e+12   발주가능   384  세탁세제    72  2019-05-16
1  2019-05-16  V2_3  8.801047e+12   발주가능   207  세탁세제     5  2019-05-16

In [9]:
df1['날짜_datetime'].dt.year

0        2019
1        2019
2        2019
3        2019
4        2019
         ...
14995    2019
14996    2019
14997    2019
14998    2019
14999    2019
Name: 날짜_datetime, Length: 15000, dtype: int64

* dt라는 함수를 사용하여 연도를 보고 싶을 땐 .dt.year을 사용하면 된다.

In [11]:
df1['연도'] = df1['날짜_datetime'].dt.year

In [12]:
df1.head(2)

           날짜   상품명           바코드 발주가능상태  입고수량  카테고리  출고수량 날짜_datetime    연도
0  2019-05-16  V2_0  8.801047e+12   발주가능   384  세탁세제    72  2019-05-16  2019
1  2019-05-16  V2_3  8.801047e+12   발주가능   207  세탁세제     5  2019-05-16  2019

In [13]:
pd.pivot_table(data=df1, index = "연도", values = "출고수량", aggfunc = 'sum')

        출고수량
연도
2019  108078

* pivot:특정 계산을 수행하기 위한 임의의 알고리즘 의해 먼저 선택된 
    행렬의 성분(항,원소)이다.
    
* 즉, 계산하고 싶은 데이터 프레임 = df, 그 행 위치에 들어갈 열 = index, 
* 열 위치에 들어갈 열 = columns, 데이터로 사용할 열 = values, 
* 데이터 집계함수 = aggfunc 등을 넣을 수 있다.

In [28]:
df1['월'] = df1['날짜_datetime'].dt.month
df1['주차'] = df1['날짜_datetime'].dt.isocalendar().week
df1['일자'] = df1['날짜_datetime'].dt.day
df1['요일'] = df1['날짜_datetime'].dt.day_name()

In [29]:
df1.head(2)

,날짜,상품명,바코드,발주가능상태,입고수량,카테고리,출고수량,날짜_datetime,연도,월,주차,일자,요일
0,2019-05-16,V2_0,8.801047e+12,발주가능,384,세탁세제,72,2019-05-16,2019,5,20,16,Thursday
1,2019-05-16,V2_3,8.801047e+12,발주가능,207,세탁세제,5,2019-05-16,2019,5,20,16,Thursday

* 이로써 연도뿐만 아니라 월, 주차 별 출고 수량도 쉽게 알 수 있다.

In [32]:
df2 = pd.read_csv("Data02.csv")

In [33]:
print(df2.shape)

(46749, 9)

In [34]:
df2.head()

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
0,무통장입금,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.0,1,PC쇼핑몰,20181227
1,무통장입금,D-20181229-0000119-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,141240,42.0,2,모바일웹,20181229
2,무통장입금,D-20181230-0000100-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,13910,1271.0,1,모바일웹,20181230
3,무통장입금,D-20181231-0000087-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,81600,1085.0,1,모바일웹,20181231
4,무통장입금,D-20181231-0000108-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,94710,1106.0,1,모바일웹,20181231

* 앞서 보았던 날짜의 형태가 다르다.
* to_datetime함수를 통해서 연,월,요일별 데이터를 구할 수 없다.

In [36]:
df2['배송시작일']

0         2019-01-07 오전 8:56
1         2019-01-03 오전 9:30
2         2019-01-03 오전 9:30
3         2019-01-03 오전 9:30
4         2019-01-07 오전 8:56
                ...
46744     2017-12-29 오후 4:32
46745     2018-01-03 오전 9:45
46746     2018-01-02 오후 7:06
46747     2018-01-03 오후 2:00
46748    2018-01-03 오후 12:43
Name: 배송시작일, Length: 46749, dtype: object

In [38]:
#우리는 배송시작일 항목의 9글자만 가져오면 to_datetime함수를 사용할 수 있다.
def data_function(x):
    return x[:10]

df2['배송시작일'].apply(data_function)

0        2019-01-07
1        2019-01-03
2        2019-01-03
3        2019-01-03
4        2019-01-07
            ...
46744    2017-12-29
46745    2018-01-03
46746    2018-01-02
46747    2018-01-03
46748    2018-01-03
Name: 배송시작일, Length: 46749, dtype: object

* .apply() 시리즈 데이터들을 내가 만든 함수에 적용 시킬 수 있다.

In [40]:
df2['배송시작일(datetime)'] = pd.to_datetime(df2['배송시작일'].apply(data_function))
df2['배송완료일(datetime)'] = pd.to_datetime(df2['배송완료일'].apply(data_function))

In [41]:
df2['배송완료일(datetime)'] - df2['배송시작일(datetime)']

0       4 days
1       4 days
2       4 days
3       4 days
4       4 days
         ...
46744   4 days
46745   4 days
46746   9 days
46747   3 days
46748   4 days
Length: 46749, dtype: timedelta64[ns]

* timedelta64는 시간 간격을 나타내는 데이터 타입이다.

In [42]:
df2["배송시간"] = df2['배송완료일(datetime)'] - df2['배송시작일(datetime)']

In [43]:
df2.head()

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일,배송시작일(datetime),배송완료일(datetime),배송시간
0,무통장입금,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.0,1,PC쇼핑몰,20181227,2019-01-07,2019-01-11,4 days
1,무통장입금,D-20181229-0000119-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,141240,42.0,2,모바일웹,20181229,2019-01-03,2019-01-07,4 days
2,무통장입금,D-20181230-0000100-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,13910,1271.0,1,모바일웹,20181230,2019-01-03,2019-01-07,4 days
3,무통장입금,D-20181231-0000087-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,81600,1085.0,1,모바일웹,20181231,2019-01-03,2019-01-07,4 days
4,무통장입금,D-20181231-0000108-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,94710,1106.0,1,모바일웹,20181231,2019-01-07,2019-01-11,4 days

In [44]:
df2['배송시간'].describe()

count                        46749
mean     4 days 04:38:57.008278251
std      1 days 04:56:12.144368428
min                0 days 00:00:00
25%                4 days 00:00:00
50%                4 days 00:00:00
75%                4 days 00:00:00
max               47 days 00:00:00
Name: 배송시간, dtype: object

* timedelta 변수는 통계량을 요약해주는 - describe()함수가 사용 가능하다.

In [49]:
df2['주문일']

0        20181227
1        20181229
2        20181230
3        20181231
4        20181231
           ...
46744    20171229
46745    20171229
46746    20171230
46747    20171231
46748    20171231
Name: 주문일, Length: 46749, dtype: int64

* to_datetime을 쓰기에 적합하지 않다.-> apply함수를 통해 바꿔주다!!

In [52]:
def date_function2(x):
    result = str(x)
    
    return result[0:4] + '-' + result[4:6] + '-' + result[6:8]

df2['주문일'].apply(date_function2)

0        2018-12-27
1        2018-12-29
2        2018-12-30
3        2018-12-31
4        2018-12-31
            ...
46744    2017-12-29
46745    2017-12-29
46746    2017-12-30
46747    2017-12-31
46748    2017-12-31
Name: 주문일, Length: 46749, dtype: object